body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #212121;
    color: none;
}

/*  Header */
nav {
    border: none;
    box-shadow: none;
    height: 7em;
    padding: 1.5em;
}

div.nav-wrapper a.brand-logo img {
    position: relative;
    left: .5em;
}

nav div.nav-wrapper ul#nav.mobile li > a.btn {
    margin: 0;
}

.btn {
    font-family: inherit;
    font-size: 1rem;
    box-shadow: none;
    text-transform: none;
}

/* Container image */
#img-container {
    background-image: url(../assets/images/taxi.jpg);
    background-size: cover;
    background-position: bottom;
    box-shadow: none;
    height: 45em;
}

#img-container div.row div.col.l5 {
    padding-left: 0;
    padding-right: 0;
}

#img-container div.row div.col.l5 div.card-panel.amber.accent-4 {
    position: relative;
    top: 5em;
}

#img-container div.row div.col.l5 div.card-panel.amber.accent-4 > h5 {
    font-size: 2em;
} 

#img-container div.row div.col.l5 div.card-panel.amber.accent-4 > img {
    height: 1em;
}

#img-container div.row div.col.l5 div.card-panel.amber.accent-4 > a {
    border-radius: 10px;
    box-shadow: none;
    font-weight: bolder;
    margin: 1em;
}

#img-container div.row div.col.l5 div.card-panel.amber.accent-4 > hr {
    border: 1px solid white;
    position: relative;
    display: inline-block;
    font-weight: lighter;
    width: 7em;
}

#img-container div.row div.col.l5 div.card-panel.amber.accent-4 > span {
    font-size: 1.2em;
}

#img-container div.row.hide-on-med-and-down {
    margin-right: 0;
}

#img-container div.row.hide-on-large-only {
    margin-right: 0;
}

#img-container div.row.hide-on-large-only div.col.s9 {
    padding-right: 0;
} 

/* App Container */
#app-container {
    box-sizing: border-box;
    padding: 2.5em 0;
    max-height: 45em;
}

#app-container div.row {
    margin: 0;
}

#app-container div.row div.col.l10 div.row:last-of-type {
    border: 1px solid white;
    box-sizing: border-box;
    border-left: none;
    padding-top: 1em;
    padding-bottom: 2.5em;
}

#app-container div.row div.col.l10 div.row > img {
    width: 33%;
    position: relative;
    top: 1em;
}

#app-container div.row div.col.l10 div.row div.col.l6 div.row {
    border: none;
}

#app-container div.row div.col.l10 div.row div.col.l6 div.row > h4 {
    margin-left: 0;
}

#app-container div.row div.col.l10 div.row div.col.l6 div.row > p {
    font-size: 20px;
    font-weight: lighter;
    margin: 0;
    padding: 1em .5em;
}

/* Container services */
#service-container {
    background-image: url(../assets/images/conduce.jpg);
    background-size: cover;
    height: 40em;
    margin-bottom: 0;
}

#service-container.row div.col.l4.right {
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    padding: 5em 1.5em 3em 1.5em;
    z-index: 10;
    height: 20em;
}

#service-container div.col.l4 > h6 {
    margin: 0;
    padding: 1em 0 0 0;
    font-weight: 500;
    font-size: 32px;
}

#service-container div.col.l4 > p {
    padding: 0;
} 

#service-container div.col.l4 > a {
    border-radius: 5px;
}

/* Trip Container */
#trip-container {
    margin: 0;
    padding: 0;
}

#trip-container div.col.l6 {
    padding: none;
}

#trip-container div.col.l6 div.row {
    margin: 0;
    margin-bottom: 5em;
}

#trip-container div.col.l6 div.row div.col.l10.push-l1 {
    box-sizing: border-box;
    padding-bottom: 5em;
}

#trip-container div.col.l6 div.row div.col.l10.push-l1 div.row {
    margin-top: 20px;
    margin-bottom: 0;
}

#trip-container div.col.l6 div.row div.col.l10.push-l1 div.row:last-of-type {
    margin-top: 0;
    margin-bottom: 40px;
}

#trip-container div.col.l6 div.row div.col.l10.push-l1 a {
    font-weight: bolder;
    position: relative;
    left: 33%;
}

#trip-container div.col.l6 div.row div.col.l10.push-l1 div.row > img {
    position: relative;
    /*vertical-align: center;*/
    top: 3em;
}

#trip-container div.col.l6 div.row div.col.l10.push-l1 div.row div.input-field {
    margin-top: 0;
    margin-bottom: 0;
}

#trip-container div.col.l6 div.row div.col.l10.push-l1 div.row div.input-field {
    margin-bottom: 0;
}

#trip-container div.col.l6 div.row div.col.l10.push-l1 div.row div.input-field > input {
    border: 1px solid white;
    border-radius: 5px;
}
/* Map */
#trip-container div#trip-map div.row {
    margin: 0;
    height: 460px;
} 

#trip-container div#trip-map div.row div.l6 {
    margin-top: 20px;
    height: 420px;
}
/*
#trip-container div#trip-map div.row div.l6 {
    border: 1px solid purple;
    padding: 15px;
    max-height: 220px;
}*/

#trip-container div#trip-map div.row div.l6 > div#map {
    border: 1px solid white;
    max-height: 30em;
    min-height: 13.5em;
    height: 100%;
    padding: 15px;
}

/* Footer */
footer.page-footer {
    padding: 3% 8%;
}

footer.page-footer div.container {
    margin: 0;
   display: block;
    width: 100%;
}

footer.page-footer div.container div.row {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 0;
    margin-top: 1em;
}

footer.page-footer div.container div.row:first-of-type{
    border: none;
    padding-top: 1em;
}

footer.page-footer div.footer-copyright {
    padding: 0;
}

/* Columns - Footer */
footer.page-footer div.container div.row div.col.l3 {
    margin: 0;
}

footer.page-footer div.container div.row div.col.l3:first-of-type {
    position: relative;
    top: 20em;
}

footer.page-footer div.container div.row div.col.l3:first-of-type > i {
    padding-left: .5em;
    font-size: 1.8em; 
}

footer.page-footer div.container div.row div.col.l3:last-of-type {
    position: relative;
    top: 13em;
}

footer.page-footer div.container div.row div.col.l3:last-of-type > img {
    padding-bottom: .9em;
}

footer.page-footer div.container div.row div.col.l3 ul li {
    margin-bottom: 1.5em;
}

/* MEDIA QUERIES */ 

@media only screen and (max-width: 991px) {
    body {
        padding: 0;
        margin: 0;
    }  
    nav .brand-logo {
        left: 33%;
    }

    #img-container div.row div.col.s9 div.card-panel.amber.accent-4 {
        position: relative;
        top: 3em;
        padding-left: 1.3em;
        padding-right: 1.3em;
    }

    #img-container div.row div.col.s9 div.card-panel.amber.accent-4 > h3 {
        font-size: 2.5em;
        margin-bottom: 0;
    }

    #img-container div.row div.col.s9 div.card-panel.amber.accent-4 h3 > img {
        font-size: .3em;
        margin-top: .2em;
    }

    #img-container div.row div.col.s9 div.card-panel.amber.accent-4 > a {
        border-radius: 8px;
    }

    #app-container div.row {
        padding-left: 10px;
        padding-right: 10px;
        max-height: 80vh;
        width: 93%
    }

    #app-container div.row div.col.l10 {
        padding-left: 0;
        padding-right: 0;
        margin-left: 14px;
        width: 93%;
    }

    #app-container div.row div.col.l10 div.row:last-of-type {
        border: 1px solid white;
        box-sizing: border-box;
        left: 8.33%;
        padding: 10px;
        position: relative;
    }
    
    #app-container div.row div.col.s10 div.row > h6.col.s12 {
        font-size: 1.7em;
        margin: 0;
        padding: 0;
    }

    #app-container div.row div.col.s10 div.row > img {
        max-height: 60vh;
        width: 90%;
    }

    #app-container div.row div.col.s10 > p {
        font-size: 1.5em;
        margin-bottom: 0;
        position: relative;
        top: .5em;
    } 

    #service-container.row div.col.s12 {
        min-height: 100%;
        position: relative;
        padding: 0;
        padding-top: 10em;
    }

    #service-container.row div.col.s12 > h6 {
        font-size: 1.5em;
        padding-top: 5em;
    }

    #service-container div.col.s12 > p {
        font-size: 1.2em;
        padding: 0;
    }

    #trip-container div.col.l6 div.row {
        margin-bottom: 0;
    }

    #trip-container div#trip-map {
        max-height: 368px;
    }

    #trip-container div.col.s12 div.row {
        margin-bottom: 0;
    }

    #trip-container div#trip-map div.row {
        margin: 0;
        height: 235px;
    } 

    #trip-container div.col.l6 div.row div.col.l10.push-l1 {
        padding-bottom: 0;
    }

    #trip-container div#trip-map div.row div.l6 {
        border: 1px solid white;
        padding: 15px;
        max-height: 220px;
    }

    #trip-container div#trip-map div.row div.l6 div#map {
        height: 100%;
        width: 100%;
    }
    /*
    #trip-container div#trip-map div.row div.l6 > img {
        padding: 15px;
        border: 1px solid white;
        width: 75%;
    } */

    #trip-container div.col.l6 div.row div.col.l10.push-l1 div.row div.input-field > input {
        max-width: 85%;
    }
    
    footer.page-footer {
        box-sizing: border-box;
    }

    footer.page-footer div.container div.row div.col.l3:first-of-type {
        top: 2em;
        font-size: .6em;
    }

    footer.page-footer div.container div.row div.col.l3:last-of-type  {
        position: absolute;
        top: auto;
        margin-top: 5em;
    }
    
    footer.page-footer div.container div.row div.col.s6:last-of-type > img {
        width: 70%;
    }

}

/* MODALS */ 

.modal {
    max-height: 90%;
    width: 55%;
}

/* Modal 1*/ 
div.container div.row div#modal1 div#pic-user-login {
    max-height: 178px;
    padding-bottom: 0;
}

div.container div.row div#modal1 div#pic-user-login > i {
    font-size: 8em;
    left: 40%;
    position: relative;
}

div.container div.row div#modal1 div#pic-user-login > span {
    font-size: 3em;
} 

div.container div.row div#modal1 div.modal-content div.row {
    border-top: 1px solid white;
    padding-top: 20px;
}

div.container div.row div#modal1 div.modal-content div.row form.col.s12 div.row {
    margin: 0;
}

div.container div.row div#modal1 div.modal-content div.row form.col.s6 div.modal-footer p.col {
    width: auto;
}


/* Modal 2 */
div.container div.row div#modal2 div.row {
    margin-left: 11px;
}

div.container div.row div#modal2 div.row div.col p {
    margin: 0;
    padding: 11px;
}

div.container div.row div#modal2 div.row div.col > span {
    font-size: 3em;
}

div.container div.row div#modal2 div.row {
    margin-bottom: 0;
}

div.container div.row div#modal2 div.modal-content {
    padding: 0;
}

div.container div.row div#modal2 div.modal-content div.row form {
    padding: 0;
}

div.container div.row div#modal2 div.modal-content div.row form div.row {
    margin: 0;
}

div.container div.row div#modal2 div.modal-content div.row form div.row > div.col.s12 {
    padding: 0;
    margin-top: 0;
}

div.container div.row div#modal2 div.modal-content div.row form.col.s10 div.row div.col.s6 {
    left: 0;
    padding: 0;
}

div.container div.row div#modal2 div.modal-content div.row form.col.s10 div.row div.col.s6:first-of-type {
    padding-right: 10px;
}

div.container div.row div#modal2 div.modal-content div.row form.col.s10 div.row div.col.s12 div.input-field {
    padding: 0;
    margin-bottom: 0;
    left: 0;
    width: 100%;
}

div.container div.row div#modal2 div.modal-content div.row form.col.s10 input {
    margin-bottom: 0;
    border-bottom: none;
}

div.container div.row div#modal2 div.modal-content div.row form div.row div.col.s12 div.input > input {
    left: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
}

/* Modal 3 */
div#modal3 div.modal-content {
    padding-bottom: 0;
}

div#modal3 div.modal-content span#icon-close {
    font-size: 3em;
}

div#modal3 div.modal-content div.row form span {
    font-size: 1.2em;
}

div#modal3 div.modal-content div.row form div.row {
    margin-bottom: 0;
    margin-top: 15px;
}

div#modal3 div.modal-content div.row form div.row div.col.s12 > label {
    font-size: 1.2em;
    font-weight: bolder;
}

div#modal3 div.modal-content div.row form div.row div.col.s12 span {
    font-size: 1.2em;
}

div#modal3 div.modal-content div.row form div.row div.col.s12 a {
    font-size: 1.2em;
}

div#modal3 div.modal-content div.row form div.row div.col.s12 div.input-field {
    margin-top: 0;
    margin-bottom: 2px;
}

div#modal3 div.modal-content div.row form div.row div.col.s12 div.input-field > input {
    border-bottom: 0;
    margin-bottom: 0;
    color: black;
}

div#modal3 div.modal-footer a {
    font-size: 1.2em;
    max-height: 40px;
    margin-bottom: 19px;
}